BOT_TOKEN=8087938934:AAEoapDL-MWj7ypXh9owbaSv5b12zQcoTjQ
OPENAI_API_KEY=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
